# Node
node_modules/
dist/

# Laravel
vendor/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

# Environment
.env

# IDE
.vscode/
.idea/

# Python
__pycache__/

# Backup
*.sql

# OS
.DS_Store
Thumbs.db